.modal-cont {
    background: var(--componente);
    border: 1px solid var(--borde);
    border-radius: 6px;
    color: var(--texto);
    max-width: 360px;
    width: 100%;
    padding: 20px;
    position: relative;
}


.modal-cont h3 {
    color: var(--texto);
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 5px;
}


.modal-btns {
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.input-link {
    width: 96%;
    margin-bottom: 20px;
    background: none;
    border: 1px solid var(--borde);
    border-radius: 6px;
    padding: 9px 6px;
    text-align: center;
    color: var(--texto);
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
}

.input-link:focus {
    outline: none;
    border-color: var(--acento);
}

.modal {
    margin-bottom: 10px;
}

.modal:disabled {
    opacity: 0.5;
    color: var(--texto-gris);
    cursor: no-drop;
}

.modal:disabled:hover {
    border: 1px solid var(--borde) !important;
}


.separador-cont {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    color: var(--texto-gris);
    font-size: .7rem;
}

.separador-linea {
    flex: 1;
    height: 1px;
    background: var(--borde);

}

.btn-cont-modal {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.m {
    font-size: .8rem;
}